{% extends "base.html" %}
{% block body %}
<input type="text" name="geo" id="trigger">
<div class="dropdown-menu">
  <ul>
    <li>省份</li>
    <li>市区</li>
    <li>县区</li>
  </ul>
  <div class="geo">
    <ul class="geo-list" id="regions"></ul>
    <ul class="geo-list" id="provinces"></ul>
    <ul class="geo-list" id="cities"></ul>
  </div>  
</div>


<!-- <form action="">

  <div class="o-cascade" data-o-component="o-cascade">
    <div class="o-forms">
      <label for="province">所在省份:</label>
      <select id="province" name="province" data-next="city" class="cascade-select" required><option value="0">请选择所在省份</option></select>
    </div>

    <div class="o-forms">
      <label for="city">所在城市:</label>
      <select id="city" name="city" data-next="dealer" class="cascade-select" required><option>请选择所在城市</option></select>
    </div>        

    <div class="o-forms">
      <label for="dealer">经销商:</label>
      <select id="dealer" name="dealer" data-next="null" class="cascade-select" required><option>请选择所在地经销商</option></select>
    </div>

    <div>
      <button type="submit" name="submit" class="o-buttons">提交</button>
    </div>  
  </div>


</form>   --> 
{% endblock %}