.o-forms {
	border: 1px solid orange;
}
.o-forms-group {
	position: relative;
	margin-bottom: 20px;
	@include _oFormsBreakpoint {
		padding-right: $_o-forms-group-padding;
		padding-left: $_o-forms-group-padding;
	}
}
.o-form-label {
	display: block;
	margin-bottom: $_o-forms-label-marginbottom;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	@include oColorsFor(o-forms-field-label, text);
}

.o-forms-text,
.o-forms-select,
.o-forms-textarea {
	box-sizing: border-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0;
	height: $_o-forms-field-default-height;
	border: $_o-forms-fieldborder;
	border-radius: $_o-forms-field-borderradius;
	padding: $_o-forms-field-default-padding-top $_o-forms-field-default-padding-leftright $_o-forms-field-default-padding-bottom;
	width: 100%;
	//@include oColorsFor(o-forms-field-standard, text background);
	outline: none;
	transition: 0.15s box-shadow ease-in;
	background-clip: padding-box;

	&:focus {
		@include oColorsFor(o-forms-field-focus);
		box-shadow: inset 0 0 4px 1px oColorsGetColorFor(o-forms-focus-ring, border);
	}
	&:disabled {
		cursor: default;
		color: mix(oColorsGetColorFor(o-forms-field-standard, background), oColorsGetColorFor(o-forms-field-standard, text), 70%);
		border-color: mix(oColorsGetColorFor(o-forms-field-standard, background), oColorsGetColorFor(o-forms-field-standard, border), 50%);
		background-color: mix(oColorsGetColorFor(o-forms-field-standard, background), oColorsGetColorFor(o-forms-field-standard, border), 85%);
	}
}

.o-forms-select {
	cursor: pointer;
	background-image: oIconsGetSvgDatauri(arrow-up-down);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: $_o-forms-select-iconsize;
	padding-right: $_o-forms-select-iconsize + $_o-forms-field-default-padding-leftright;
	padding-top: $_o-forms-field-default-padding-bottom - 2px;
	line-height: 110%;

	//IE
	padding-bottom: #{$_o-forms-field-default-padding-bottom - 2px}\9;
	padding-right: #{$_o-forms-field-default-padding-leftright}\9;
	background-image: none\9;
	text-indent: 0.01px;
	text-overflow: '';

	&::-ms-expand {
		display: none;
		color: #ffffff;
	}
}

.o-forms--error .o-forms-text,
.o-forms--error .o-forms-select,
.o-forms--error .o-forms-textarea {
	@include oColorsFor(o-forms-field-invalid);
	&:focus {
		box-shadow: inset 0 0 4px 1px rgba(oColorsGetColorFor(o-forms-field-invalid, border), 0.3);
	}
}

.o-forms-errortext {
	clear: both;
	display: none;
	margin-top: -1px;
	padding: 3px 5px;
	font-size: 12px;
	@include oColorsFor(o-forms-field-invalid, text);
	position: absolute;
	left: 0;
	
	.o-forms--error & {
		display: block;
	}

}